body, html {
    background-image: url("../images/castle.png");
    height: 100vh;
    margin: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.pictureClue, span.win, .guessChance {
    text-align: center;
    height: 150px;
    width: 50%
}
.pictureClue {
    font-size: 1.2rem;
    padding-left: 27%;
}
.guessChance, .win {
    font-size: 35px;
}
.underScore {
    border: 3px solid white;
    font-size: 60px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 50%;
    padding-top: 50px;
}

.rightWord {
    border: 3px solid white;
    font-size: 25px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 50%
}
.wrongWord {
    border: 3px solid white;
    font-size: 25px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 50%
}

.movieClue {
    text-align: center;
}

#frozen_img, #cinderella_img, #dumbo_img, #pinocchio_img, #hercules_img, #pocahontas_img, #aladdin_img, #mulan_img, #moana_img {
    display: none;
    margin-left: 27%;
}

.navbar {
    padding: 0rem 3rem 0rem 0rem;
}
.bg-light {
    background: #ffffff;
    border: #cccccc;
}
.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #ffffff !important;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 0 0 0;
}
  
.nav-item, .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 0.625rem 0 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    #frozen_img, #cinderella_img, #dumbo_img, #pinocchio_img, #hercules_img, #pocahontas_img, #aladdin_img, #mulan_img, #moana_img {
        display: none;
        margin-left: 0;
    }
}

@media only screen and (max-width: 640px) {
    .navbar-brand {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background: #4aaaa5;
        color: #ffffff !important;
        font-size: 1.2rem;
        font-weight: bolder;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0 0 0 0;
    }
    .navbar {
        padding: 0;
        width: 100%;
    }
    h1 {
        font-size: 1rem;
    }
    .guessChance, .win {
        font-size: 1rem;
    }
    .rightWord, .wrongWord {
        font-size: 1rem;
        border: 1px solid white;
    }
    .underScore {
        font-size: 1rem;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .col-8 .col-4 {
        padding-left: 0;
        padding-right: 0;
    }
    #frozen_img, #cinderella_img, #dumbo_img, #pinocchio_img, #hercules_img, #pocahontas_img, #aladdin_img, #mulan_img, #moana_img {
        display: none;
        margin-left: 0;
    }
}